* {
  border-radius: 12px;
  text-align: center;
  /* color: white; */
}
body {
  background-image: linear-gradient(#16384c, #2f495f);
  min-height: 1000px;
  display: flex;
  flex-wrap: wrap;
}
header {
  padding-bottom: 20px;
  border-radius: 25px;
  background-color: white;
  margin: -20px auto 0px auto;
  font-size: 80px;
  width: 100%;
  height: 100px;
  color: #16384c;
  animation: hed 5s infinite;
}

header:hover {
    background-color: #16384c;
    color: white;
    cursor: pointer;

}
img {
  height: 300px;
  width: 300px;
  position: absolute;
  left: 25px;
  top: -78px;
  transition: all 0.8s;
}
section:hover img {
  border-radius: 50%;
  top: -158px;
  transform: rotate(720deg);
  transition: all 0.8s;
}
section {
  background-color: white;
  height: 400px;
  width: 350px;
  margin: 400px auto 20px auto;
  position: relative;
  font-family: sans-serif;
}
section:hover {
  padding: 30px 0px 0px 0px;
}
.p {
  opacity: 0;
  position: relative;
  top: 150px;
}
section:hover .p {
  padding: 40px 0px 0px 0px;
  opacity: 1;
  transition: all 0.8s;
}
@keyframes hed {
    0%   {transform: translate(0, 0);  border-radius: 25px 25px 80px 80px;
        padding-bottom: 45px;
    }
    40%  {transform: translate(0, 0);  border-radius: 25px 25px 15px 15px;
        padding-bottom: 20px;
    }
    100% {transform: translate(0, 0);  border-radius: 25px 25px 80px 80px;
        padding-bottom: 45px;
    }
  } 