html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

*{
  margin: 0;
}

  .main-page{
    width: 100%;
    height: 100vh;
    font-family: 'Raleway', sans-serif;
    color: #d2d7d9;
    background-image: url(img/main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-size: 23px;
  }
  nav{
    height: 20vh;
    display: flex;
    justify-content: space-around;
    margin: 0px 10px 10px 5px;
    padding: 40px 10px 10px 10px;
  }
  

  
  .logo p{ 
    width: 30vw;
    color: #f7f1f1;
    cursor: pointer;

  }
  .logo p{
    right: 10px;
  }
  .nav-link a{
    width: 70vw;
  text-decoration: none;
  color: #d2d7d9;
  padding: 0px 9px 9px 0px;
  opacity: 1;
    }
    @media (max-width: 680px) {
      .nav-link a{
        width: 20vw;
        display: flex;
        /* margin: 0px 10px 10px 10px; */
        /* padding: 40px 10px 10px 10px; */
        justify-content: space-evenly;
     }
    }
    .nav-link a:hover{
  opacity: 0.7;
  }
 .main-section {
    width: 500px;
    background-color: #ffffffce;
    text-align: center;
    padding: 80px;
    margin: 0px auto 0px auto;
    display: flex;
    justify-content: center;
    align-content: stretch;
    flex-wrap: wrap;
    
  }
  @media (max-width: 820px) {
    .main-section{
      /* width: 70vw; */
      width: 356px;
      text-align: center;
      padding: 71px;
      margin: 100px auto 0px auto;
      display: flex;
      justify-content: center;
      align-content: stretch;
      flex-wrap: wrap;
    }
  }

  .main-section h3{
   font-family: 'Cookie', cursive;
  color: #2c3a42;
  font-size: 60px;
  font-weight:lighter;
  }
  .main-section h1{
    color: #ad6c12;
    font-size: 40px;
    font-weight:200;
  }
  .main-section p{
    width: 140px;
    margin: 5px auto 0px auto;
    padding: 3px;
    background-color: #ffffff;
    color: #2c3a42;
cursor: pointer; 
 }
  .page-two{
    font-family: 'Raleway', sans-serif;
    margin: 0px 0px 0px 0px;
    width: 100%;
    height: 42vh;
    background-color:#2a3b40 ;
    display: flex;
  }
.text{
  width: 700px;
  text-align:left ;
  padding: 80px;
  margin: 0px auto 0px auto;
display: inline-block;
}
.text h2{
  margin: 0px auto 14px auto;
  color:#d2d7d9;
}
@media (max-width: 820px) {
  .text {
    width: 100vw;
    margin: 10px auto 30px auto;
    padding: 0px;
text-align: center;
display: inline-block;
  }
}
.text p{
margin: 0px auto 30px auto;
font-size: 13px;
font-weight: 300;
color:#d2d7d9cc;
}
.page-two-img{
  display: inline-block;
}
.page-two-img img{
  position: absolute;
  width: 334px;
  height: 226px;
  right: 231px;
  bottom: -271px;
}
@media (max-width: 920px) {
  .page-two-img img{
    
    right: 64px;
     bottom: -344px; 
    width: 274px;
    height: 182px;
  }
}
.dot {
  height: 25px;
  width: 25px;
  background-color: #2a3b40;
  border-radius: 50%;
  display: inline-block;
}
.page-three{
  background-color: #d4d8d9;
  font-family: 'Raleway', sans-serif;
    margin: 0px 0px 0px 0px;
    width: 100%;
    height: 41vh;
    display: flex;
}
.sec{
 margin: 80px auto 10px auto ; 
}
.sec-1 {
  width: 25vw;
  height: 30vh;
}
.sec h4{
  margin: 15px auto 20px auto;
  font-size: 20px;
}
.sec p{
  font-size: 12px;
}
@media (max-width: 920px) {
  .sec p{
    font-size: 11px;
    padding: 10px;
  }
}
.sec-2 {
  width: 25vw;
  height: 30vh;
}

.sec-3 {
  width: 25vw;
  height: 30vh;
}
@media (max-width: 820px) {
  .sec{
    width: 158vw;
    height: 30vh;
    text-align: center;
    display: block;

  }
}
.container{
  display: grid; 
  grid-template-columns: 0.5fr 1.2fr 1.2fr 1.2fr 1.2fr 0.6fr; 
  grid-template-rows: 0.6fr 1.2fr 1.2fr 1.2fr 1.2fr 0.6fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". . . . . ."
    ". h3 h3 h3 h3 ."
    ". img1 pl-1 img2 pl-2 ."
    ". pl-3 img3 pl-4 img4 ."
    ". img5 pl-5 img6 pl-6 . "
    ". . . . . ."; 
    width: 100%; 
    height: 100%; 
    margin: 0px auto 0px auto;

}
@media (max-width: 820px) {
  .container{
   position: relative;
      width: 100%; 
      height: 100%; 
padding: 0px 0px 0px 0px;
  }
}
.page-four {
  background-image: url(img/page-4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.gr{
background-color: #ffffffce;

}
@media (max-width: 820px) {
  .gr{

    width: 100%;
    height: 100%; 
    }
}
.gr-img{
  width: 100%; 
height: 100%; 
}
@media (max-width: 820px) {
  .gr-img{
    width: 100%; 
  height: 100%; 
  }
}

.gr-h3 { grid-area: h3; 
  background-color: #ffffffbd;
  text-align: center;
  padding: 80px;}
  @media (max-width: 820px) {
    .gr-h3 {  
      padding: 0;
        width: 98vw;
        width: 99.5vw;
      }
  }
.img1 { grid-area: img1; }
.pl-1 { grid-area: pl-1; }
.img2 { grid-area: img2; }
.img3 { grid-area: img3; }
.pl-2 { grid-area: pl-2; }
.pl-3 { grid-area: pl-3; }
.pl-4 { grid-area: pl-4; }
.img4 { grid-area: img4; }
.img5 { grid-area: img5; }
.pl-5 { grid-area: pl-5; }
.pl-6 { grid-area: pl-6; }
.img6 { grid-area: img6; }
.gr-h3 h3 {
  font-family: 'Cookie', cursive;
  color: #2c3a42;
  font-size: 60px;
  font-weight: lighter;
}
.gr-h3 h1 {
  font-family: 'Raleway', sans-serif;

  color: #ad6c12;
  font-size: 40px;
  font-weight: bolder;
}
@media (max-width: 820px) {
  .gr-h3 h1 {
    color: #ad6c12;
    font-size: 30px;
    font-weight: bolder;
  }
}

.pl{
  font-family: 'Raleway', cursive;
  color: #2c3a42;
  font-size: 20px;
  text-align: center;
padding: 50px ;  
}
.gr-h5{
margin-bottom: 20px;
font-size: 21px;
}
.gr-p{
  margin-bottom: 15px;
font-weight: 100;
font-size: 15px;
}
.gr-str{

}

@media (max-width: 820px) {
  .pl{
    font-family: 'Raleway', cursive;
    color: #2c3a42;
    font-size: 12px;
    text-align: center;
  padding: 0px ;  
  
  }
}

@media (max-width: 820px) {
  .gr-h5{
    margin-bottom: 5px;
    font-size: 11px;
    margin-top: 24px;
    }
}

@media (max-width: 820px) {
  .gr-p{
    margin-bottom: 3px;
  font-weight: 100;
  font-size: 9px;
  }
}

.page-five{
  background-color: #d4d8d9;
  font-family: 'Raleway', sans-serif;
    margin: 0px 0px 0px 0px;
    width: 100%;
    height: 41vh;
    /* display: flex; */
}
.page-five{
  background-image: url(img/Vector-1..png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (max-width: 820px) {
  .page-five{
    background-image: url(img/Vector-1..png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    opacity: 0.9;
  }
}
.mid{
  text-align: center;
}
.mid-h1{
margin: 0px auto 10px auto;
padding-top:80px ;
color: #2c3a42;
}
@media (max-width: 820px) {
  .mid-h1{
    margin: 0px auto 10px auto;
    padding-top:30px ;
    color: #2c3a42;
    }
}
.mid-p{
  margin: 30px auto 30px auto;
  width: 700px;
font-weight: lighter;
color: #2c3a42;
}
@media (max-width: 820px) {
  .mid-p{
    margin: 30px auto 30px auto;
    width: 370px;
  font-weight: lighter;
  color: #2c3a42;
  opacity: 1;
  }
}
.mid-dot{
  margin: 25px auto 30px auto;

}
.mid-link a{
  text-align: center;
  text-decoration: none;
  color: #2c3a42;
  margin: 10px auto 10px auto;
  padding: 0px 59px 0px 0px;
  opacity: 1;
}
@media (max-width: 820px) {
  .mid-link a{
    text-align: center;
    text-decoration: none;
    color: #2c3a42;
    margin: 10px auto 10px auto;
    padding: 0px 30px 0px 0px;
    opacity: 1;
  }
}
.mid-link a:hover{
  opacity: 0.8;
}
.mid-link {

  margin-left: 55px; 
    }
@media (max-width: 820px) {
  .mid-link {
margin-top: -20px;
margin-left: 25px; 
  }
}
.grid-containe{
  
}

.page-six{
  background-image: url(img/page-6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.page-6-grid {  display: grid;
  grid-template-columns: 0.2fr 1.8fr 0.2fr 1.8fr;
    grid-template-rows: 0.8fr 1.2fr 1fr 1fr 1fr; 
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . . ."
    "address- address- address- address-"
    "icon-1 txt-1 icon-4 txt-4"
    "icon-2 txt-2 icon-5 txt-5"
    "icon-3 txt-3 icon-6 txt-6";
}

.address { grid-area: address-; }

.icon-1 { grid-area: icon-1; }

.icon-2 { grid-area: icon-2; }

.icon-3 { grid-area: icon-3; }

.icon-4 { grid-area: icon-4; }

.icon-5 { grid-area: icon-5; }

.icon-6 { grid-area: icon-6; }

.txt-1 { grid-area: txt-1; }

.txt-2 { grid-area: txt-2; }

.txt-3 { grid-area: txt-3; }

.txt-4 { grid-area: txt-4; }

.txt-5 { grid-area: txt-5; }

.txt-6 { grid-area: txt-6; }

.address{
text-align: center;
padding: 35px 0px 0px 0px;
}
.page-6-grid h3{
  font-family: 'Cookie', cursive;
  color: #2c3a42;
  font-size: 60px;
  font-weight: lighter;
  margin-bottom: -15px;
}
.page-6-grid h1{
  font-family: 'Raleway', sans-serif;
  color: #ad6c12;
  font-size: 40px;
  font-weight: bolder;
  padding-bottom: 30px;
}
.gr-6-icon img{
  width: 60px;
  height: 60px;
margin: -11px 14px 0px 60px;
}
@media (max-width: 820px) {
  .gr-6-icon img{
    width: 40px;
    height: 40px;
  margin: 47px 14px 0px 24px;
  }
}
.gr-6 h5, p{
  font-family: 'Raleway', sans-serif;
  color: #2c3a42;

  flex-direction: column;
display: table-row;
}
.gr-6 h5{
  padding-bottom: 10px;
  font-size: 17px;
}
@media (max-width: 820px) {
  .gr-6 h5{
    padding-bottom: 10px;
    font-size: 12px;
  }
}
.gr-6 p{
  padding-bottom: 10px;
  font-size: 12px;
  font-weight: lighter;
  color: #2c3a42de;
}
@media (max-width: 820px) {
  .gr-6 p{
    padding-bottom: 10px;
    font-size: 9px;
    font-weight: lighter;
    color: #2c3a42de;
  }
}
.page-seven{
  background-image: url(img/page-7.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}
.page-8{
margin-top: -5px;
  background-color: #2a3b40;
  width: 100%;
  height: 400px;
  display: flex;
}
.lab{
  width: 30%;
  position: absolute;
}
.lab2{
  width: 30%;
position: absolute;
}
.page-8 h1{
  padding-bottom: 10px;
  color: #ffffffde;
  font-family: 'Cookie', cursive;
  font-size: 60px;
  font-weight: lighter;
  text-align: center;
padding-top: 20px;
width: 100%;
}

.grid-page-8 {  display: grid;
  grid-template-columns: 2fr 1.6fr 2.6fr 1.6fr 2.7fr 1.6fr 0.6fr;
  grid-template-rows: 1fr 2fr 0fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "h1-page-8 h1-page-8 h1-page-8 h1-page-8 h1-page-8 h1-page-8 h1-page-8"
    ". pepole . date . time ."
    ". name . mail . phone ."
    ". . . submit . . ."
    ". . . . . . ."
    ". . . . . . .";
  justify-content: center;
}

.pepole { grid-area: pepole; }

.date { grid-area: date; }

.time { grid-area: time; }

.name { grid-area: name; }

.mail { grid-area: mail; }

.phone { grid-area: phone; }

.submit { grid-area: submit; }

.h1-page-8 { grid-area: h1-page-8; }



.name input{
  font-family: 'Raleway', sans-serif;
  border-radius: 5px;
  background-color: transparent;
  border: #ffffff solid;
  color: white;
  text-align: center;
}
label{
  display: block;
  color: #ffffffde;
  margin: 0px;

}

input{
  font-family: 'Raleway', sans-serif;
  background-color: transparent;
  border: #ffffff solid;
  color: white;
  border-radius: 5px;
  text-align: center;
}
label{
  font-family: 'Raleway', sans-serif;
font-size: 11px;
margin-bottom: 6px;
}
.h1-page-8{
  margin-left: 100px;
}
.pepole select{
  border-radius: 5px;
  background-color: transparent;
  border: #ffffff solid;
  color: white;
  padding: 0px 10px 0px 78px;
}
.date input{  border-radius: 5px;
  background-color: transparent;
  border: #ffffff solid;
  color: white;
  padding: 0px 20px 0px 38px;
  text-align: center;

}
@media (max-width: 820px) {
  
  .date input{  border-radius: 5px;
  background-color: transparent;
  border: #ffffff solid;
  color: white;
  padding: 0px 10px 0px 60px;
  text-align: center;

}
}

  
  .time input{  border-radius: 5px;
    background-color: transparent;
    border: #ffffff solid;
    color: white;
    padding: 0px 10px 0px 68px;
    text-align: center;
  }
   
    .submit input{  border-radius: 5px;
      background-color: transparent;
      border: #ffffff solid;
      color: rgb(250, 249, 249);
      padding: 0px 58px 0px 61px;
      margin: 47px 0px 0px 0px;
text-align: center;

}

@media (max-width: 820px) {
  .grid-page-8 {  display: grid;
    grid-template-columns: 1.5fr 0.6fr 1.4fr 1.7fr 0.4fr 1fr;
    grid-template-rows: 1.2fr 0.8fr 0.6fr 0.6fr 0.6fr 0.6fr 0.6fr 0.6fr 0.6fr 0.6fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . . . . ."
      "h1-page-8 h1-page-8 h1-page-8 h1-page-8 h1-page-8 h1-page-8"
      ". . pepole pepole . ."
      ". . date date . ."
      ". . time time . ."
      ". . name name . ."
      ". . mail mail . ."
      ". . phone phone . ."
      ". . submit submit . ."
      ". . . . . .";
  }
  
  .h1-page-8 { grid-area: h1-page-8; }
  
  .pepole { grid-area: pepole; }
  
  .date { grid-area: date; }
  
  .time { grid-area: time; }
  
  .name { grid-area: name; }
  
  .mail { grid-area: mail; }
  
  .phone { grid-area: phone; }
  
  .submit { grid-area: submit; }
  
}
@media (max-width: 820px) {
  .submit input{  border-radius: 5px;
    background-color: transparent;
    border: #ffffff solid;
    color: rgb(250, 249, 249);
    padding: 0px 58px 0px 61px;
    margin: 40px 0px 30px 0px;
text-align: center;
}
}
@media (max-width: 820px) {
  .page-8{
    height: 450px;
  }
}
@media (max-width: 820px) {
  .page-8 h1{
    text-align: -webkit-auto;
    padding-top: 0px;
  }
}


@media (max-width: 820px) {
  label{
    font-family: 'Raleway', sans-serif;
  font-size: 11px;
  margin-bottom: 6px;
  margin-top: 6px;
  text-align: left;

  }
}
